@import url('../fonts/poppins/poppins.css');

:root {
    --bs-font-sans-serif: Poppins, system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", "Noto Sans", "Liberation Sans", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

@media(min-width: 1200px) {
    html,
    body {
        height: 100%;
    }

    body {
        display: flex;
        flex-direction: column;
    }
}

/**
 * Simple Vertical timeline
 * https://bootsnipp.com/snippets/xrKXW
 */
ul.timeline {
    list-style-type: none;
    position: relative;
}
ul.timeline:before {
    content: ' ';
    background: #198754;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 400;
}
ul.timeline > li {
    margin: 20px 0;
    padding-left: 20px;
}
ul.timeline > li:before {
    content: ' ';
    background: white;
    display: inline-block;
    position: absolute;
    border-radius: 50%;
    border: 3px solid #157347;
    left: 20px;
    width: 20px;
    height: 20px;
    z-index: 400;
}